body {
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
	font-family: 'Fraunces';
	font-weight: 700;
	background-color: hsl(30, 38%, 92%);
}
.card {
	width: 100%;
	max-width: 350px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	transition: 0.3s ease-in-out;
}
.mobile-img  {
	width: 100%;
	display: block;
}
.desktop-img { 
	display: none;
}
.card-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 13px;
	padding: 25px;
}
.category {
	font-size: 12px;
	font-family: 'Montserrat';
	color: #888;
	letter-spacing: 5px;
}
.title {
	font-weight: 700;
}
.description {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: hsla(228, 12%, 48%, 0.822);
}
.price-comparison {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	gap: 5px;
	margin-top: 10px;
}
.price {
	font-size: 33px;
	font-weight: 600;
	color: hsl(158, 36%, 37%);
}
.old-price {
	font-family: 'Montserrat';
	font-size: 14px;
	color: #999;
	text-decoration: line-through;
}
.cart {
	width: 15px;
	height: 15px;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsl(158, 36%, 37%);
	color: #fff;
	text-decoration: none;
	padding: 16px;
	border-radius: 8px;
	gap: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: none;
	width: 100%;
}
.button:hover {
	background: hsl(158, 42%, 18%);
}

p {
	margin: 0;
}
h1 {
	font-weight: 900;
	margin: 0;
}

/* Responsive Layout */
@media (min-width: 768px) {
	.card {
		max-width: 630px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	/* .card img {
		height: 500px;
		width: 50%;
		height: 100%;
		object-fit: cover;
	} */
	.card .mobile-img {
		display: none;
	}
	.card .desktop-img {
		display: block;
		width: 50%;
		height: 100%;
		object-fit: cover;
	}
	.card-content {
		width: 50%;
		height: 472px;
		padding: 35px;
		box-sizing: border-box;
		/* gap: 30px; */
		justify-content: space-between;
	}
	h1 {
		margin-right: 30px;
		line-height: 32px;
	}
	.description {
		margin-right: 25px;
	}
}

@media (min-width: 300px) {
	.price-comparison {
		flex-direction: row;
		gap: 20px;
	}
}